<!DOCTYPE html>
<html lang="en" ng-app="App" ng-controller="AppController">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Game store for JS games">
  <meta name="author" content="3 jäbää">
  <title>GameStore</title>
  {%load staticfiles %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) and Bootstrap -->
  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" rel = "stylesheet">
  <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
  <!--AngularJS 1.5.6-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular.js"></script>
  <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
</head>
<body>
  <div id="navbar">
    
  </div>
  <h1>{% block title %}{% endblock %}</h1>
  <div id="content">
    {% block content %}{% endblock content %}  
  </div>
</body>
</html>