{% extends "main.html" %}
{% block title %}  Change password {% endblock %}
{% load staticfiles %}
{% load user_extras %}

{% block content %}
<div>
  <form method="post">
      {% csrf_token %}
      <div class="form-group">
          {% for field in form %}
              <div class="input-group {% if field.errors %} has-error {% endif %}">
                  <label for="{{ field.id_for_label }}" class="control-label">{{ field.label}}</label>
                   {{field|addcss:"form-control"}}
                   {% if field.errors %}
                    <span class='text-danger'>{{ field.errors|join:'<br />' }}</span>
                    {% endif %}
              </div>
          {% endfor %}
          <br />
          <a class="btn btn-primary" href ="{% url 'editprofile' %}"> Back</a>
          <input type="submit" class="btn btn-primary" value="Change" />
        </div>
  </form>
</div>
{% endblock %}
